
<div *ngIf="ba ==1" style="
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; text-align: center;">
<h4>Settings</h4>
  <form [formGroup]="forma" (ngSubmit)="onSubmit()" >
    <label>Display Name :  </label>
    <input type="text" formControlName="name"  value="{{user.name}}" name="text"><br><br>
    <label>Profile Discription :  </label>
    <input type="text" formControlName="desc"  value="{{user.description}}" name="desc"><br><br>
    <input type="submit" value="Save">
    <input type="hidden" formControlName="id" value="{{user.id}}"  name="id"><br><br>


  </form>
</div>

<div *ngIf="b ==1" style="
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; text-align: center;">
  <h4>My Groups</h4>
<div *ngFor="let group of groups"  >
  <br>
  <label style="margin-top: 25px;">Group Name :  </label>
  <label style="margin-top: 25px;">{{group.name}}</label>
  <br>
  <br>
  <label style="margin-top: 25px;">Group Description :  </label>
  <label >{{group.description}}</label>
  <br>
  <button style="margin-top: 25px;" (click)="getElementId($event)" id="{{group.id}}" >delete</button>
  <button style="margin-left: 25px;" (click)="getElementId($event)" id="{{group.id}}" >edit</button>
  <br>
  <br>
</div>
</div>
