<div *ngIf="b ==1" style="
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; text-align: center;">


  <form [formGroup]="forma" (ngSubmit)="onSubmit()" >
    <input type="hidden" formControlName="id" value="{{post.id}}"  name="id"><br><br>
    <label>Group Description :  </label>
    <input type="text" formControlName="Description" value="{{post.description}}" name="text"><br><br>
    <label>Group Name :  </label>
    <input type="text" formControlName="name" value="{{post.name}}" name="text"><br><br>
    <input type="submit" value="Save">
  </form>
  <br>
  <br>
  <button color="primary" (click)="back()" >Go Back</button>
  <br>

  <br>
  <br>
</div>
