<div *ngIf="b ==1"  style="
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; text-align: center;">


  <form [formGroup]="forma" (ngSubmit)="onSubmit()" >

    <input type="hidden" formControlName="id" value="{{post.id}}"  name="id"><br><br>
    <label>Post Text :  </label>
    <input type="text" formControlName="text" value="{{post.tekst}}" name="text"><br><br>
    <input type="submit" value="Save">
  </form>
  <br>
  <br>
  <button color="primary" (click)="back()" >Go Back</button>
  <br>

  <br>
  <br>
</div>
