<div *ngFor="let post of posts" style="border-style: solid;border-color: brown;width: fit-content;min-width: 398px;margin-left: auto;margin-right: auto;" >
  <label>User :  </label>
  <label>{{post.user}}</label>
  <br>
  <label>Post DateTime :  </label>
  <label>{{post.dat}}</label>
  <br>
  <label>Post Text :  </label>
  <label>{{post.tekst}}</label>
  <br>
  <button (click)="getElementId($event)" id="{{post.id}}" style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;" >Like</button>
  <button (click)="getElementId($event)" id="{{post.id}}" style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;" >Dislike</button>
  <button (click)="getElementId($event)" id="{{post.id}}" style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;" >Heart</button>
  <br>
  <label>Likes : {{post.like}}  </label>
  <label>Dislikes : {{post.dislike}}  </label>
  <label>Hearths : {{post.hearth}}  </label>
  <br>
  <a href="http://localhost:4200/comment/{{post.id}}" ><button style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;">Make Comment</button></a>
  <br>
  <h5>Comment Section :</h5>
    <div *ngFor="let com of post.comments">
    <label style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;">Date: {{com.date}}</label > <br>
    <label style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;">Comment: {{com.text}}</label>
    <br>
    <button style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;" (click)="getElementId($event)" id="{{com.id}}" >Like Comment</button>
    <button style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;" (click)="getElementId($event)" id="{{com.id}}" >Dislike Comment</button>
    <button style="margin-left: 10px;margin-right: 10px;margin-bottom: 15px;margin-top: 10px;" (click)="getElementId($event)" id="{{com.id}}" >Heart Comment</button>
      <br>
      <label>Number of Reactions :{{com.reaction.length}}</label>
    <br>
    <br>
  </div>

  <br>
  <br>
</div>
