<div style="
  border: 5px solid;
  margin: auto;
  width: 50%;
  padding: 10px; text-align: center;">
<h2>Home Page</h2>


  <a href="http://localhost:4200/MyProfile" style="margin-left: 20px"><button>My Profile</button></a>
  <a href="http://localhost:4200/GroupCreate"style="margin-left: 20px"><button>Create Group</button></a>
  <a><button (click)="myFunction()" style="margin-left: 20px">Change Password</button></a>
  <a><button (click)="LogOut()" style="margin-left: 20px">Logout</button></a>
<br>
<br>
  <br>
  <br>
  <br>
  <br>

<form [formGroup]="forma" (ngSubmit)="onSubmit()">
<div  class="container">

  <select name="group" id="group" formControlName="sGroup">
    <option [ngValue]="null" disabled>Select Where to post</option>
    <option [ngValue]="0" >My Profile</option>
    <option *ngFor="let country of groups" [ngValue]="country.id">{{country.name}}</option>
  </select>
  <label style="margin-left: 15px;">Post Text : </label>
  <input type="text"  formControlName="post"  name="post" required>
  <button type="submit" style="margin-left: 15px">Post</button>

  <br>


</div>
</form>
<br>
<br>
<br>
<br>
<h4>My Posts</h4>
<app-posts [posts]="posta">
</app-posts>
<h3>Feed</h3>
<app-posts-all [posts]="postaa">
</app-posts-all>
</div>
